<div class="row one-row">
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/886/585/214/michael-with-money-gta-v-wallpaper-preview.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="clearfix row">
            <div class="price  col-6">$49</div>
            <a href="#" class="btn btn-success  col-6">add</a>
        </div>
        </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/886/585/214/michael-with-money-gta-v-wallpaper-preview.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="clearfix row">
            <div class="price  col-6">$49</div>
            <a href="#" class="btn btn-success  col-6">add</a>
        </div>
        </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/886/585/214/michael-with-money-gta-v-wallpaper-preview.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="clearfix row">
            <div class="price  col-6">$49</div>
            <a href="#" class="btn btn-success  col-6">add</a>
        </div>
        </div>
        </div>
    </div>
    
</div>


<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/886/585/214/michael-with-money-gta-v-wallpaper-preview.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="clearfix row">
            <div class="price  col-6">$49</div>
            <a href="#" class="btn btn-success  col-6">add</a>
        </div>
        </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/886/585/214/michael-with-money-gta-v-wallpaper-preview.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <div class="clearfix row">
            <div class="price  col-6">$49</div>
            <a href="#" class="btn btn-success  col-6">add</a>
        </div>
        </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://c4.wallpaperflare.com/wallpaper/886/585/214/michael-with-money-gta-v-wallpaper-preview.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text description">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
       <div class="clearfix row">
            <div class="price  col-6">$49</div>
            <a href="#" class="btn btn-success  col-6">add</a>
        </div>
        </div>
        </div>
    </div>
    
</div>